<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_steering_robot">

  <xacro:macro name="caster_wheel_75"
               params="name parent *origin
                       frictionless:=true mu1:=0.02 mu2:=0.02 slip1:=0.02 slip2:=0.02">
   <joint name="${name}_mount_joint" type="continuous">
    <xacro:insert_block name="origin" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.2" />
    <!-- <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="1.02"/> -->
    <parent link="${parent}" />
    <child link="${name}_mount_link" />
   </joint>

   <link name="${name}_mount_link">
    <inertial>
      <mass value="2.2" />
      <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia  ixx="0.01" ixy="0.0" ixz="0.0"
                  iyy="0.01" iyz="0.0" 
                  izz="0.01" />
    </inertial>
    
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
        <cylinder radius="0.075" length="0.22"/> 
     </geometry>
    </visual>

    <!-- <collision>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
        <cylinder radius="0.075" length="0.22"/>
     </geometry>
    </collision> -->
   </link>

   <joint name="${name}_joint" type="continuous">
    <origin xyz="0 0 -0.185" rpy="-1.57 0 0" />
    <axis xyz="0 0 1" />
    <dynamics damping="0.01" />
    <!-- <limit effort="1000.0" lower="-3.14" upper="3.14" velocity="1.02"/> -->
    <parent link="${name}_mount_link" />
    <child link="${name}_link" />
   </joint>

   <link name="${name}_link">
    <inertial>
      <mass value="4" />
      <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia  ixx="0.03" ixy="0.0" ixz="0.0"
                  iyy="0.03" iyz="0.0" 
                  izz="0.05" />
    </inertial>
    
    <visual>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
        <cylinder radius="0.075" length="0.046"/> 
     </geometry>
    </visual>

    <collision>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
        <cylinder radius="0.075" length="0.046"/> 
     </geometry>
    </collision>
   </link>

   <xacro:if value="${frictionless}">
      <gazebo reference="${name}_link">
         <mu1>${mu1}</mu1><mu2>${mu2}</mu2>
         <slip1>${slip1}</slip1><slip2>${slip2}</slip2>
      </gazebo>
      <gazebo reference="${name}_mount_link">
         <mu1>${mu1}</mu1><mu2>${mu2}</mu2>
         <slip1>${slip1}</slip1><slip2>${slip2}</slip2>
      </gazebo>
   </xacro:if>
  </xacro:macro>
</robot>